{% extends 'base.html' %}

{% block content %}

<main class="py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django app</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quo a aspernatur error dicta iure itaque quas voluptatem fugit eum libero iste, laborum laudantium eveniet vel fuga distinctio modi. Beatae eius id velit dolores omnis? Placeat, ipsum rerum animi architecto id hic doloremque omnis quo odit adipisci ipsa? Debitis sequi, nam mollitia pariatur fugiat dolorem at recusandae voluptas similique sint iure nesciunt dolore, et ducimus commodi impedit explicabo assumenda, accusantium provident sapiente? Quo id dolores, aut fugiat quod fugit deleniti nemo sed eveniet, officiis quam maxime harum, sunt provident quas consequuntur quae. Exercitationem blanditiis tempore quos repellendus voluptatem quisquam molestias?</p>
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Login
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>

</main>

{% endblock %}